* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    margin: 5px auto;
}

button {
    background-color: white;
    border: 1px solid black;
}

.container {
    width: 250px;
    height: 500px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-header {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    display: inline-block;
    min-height: 10%;
}

.tab-headline {}

.tab-body,
.front,
.question-awnser-right,
.question-awnser-wrong {
    height: inherit;
    margin-bottom: 15px;
    flex: auto;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    text-align: center;
}


.tab-footer {
    border-top: 1px solid black;
    display: inline-block;
    min-height: 10%;
}

.translator,
.session,
.question {
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.question-counter {
    text-align: center;
}

.tab-body>p {
    text-align: center;
    width: 100%;
    min-height: 20px;
}

#questionInput {
    width: 100%;
}

#questionInputBtn {
    padding: 5px;
    margin: 15px 0;
    width: 100%;
}

.is-active {
    width: 220px;
    opacity: 1;
}


/*Components*/

.intro {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}

.spacer {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.input-wrapper,
.output-wrapper {
    margin-bottom: 15px;
}

#search-input {}

#search-input-select,
#search-output-select,
#search-button {
    width: 100%;
    margin: 10px 0;
    min-height: 35px;
}

.questInputWord,
.questOutputLang {
    font-size: 20px;
    font-weight: bold;
}

#search-button {
    margin-bottom: 0;
}

#search-output-select {}

.kk-input,
.kk-button {
    min-height: 35px;
    padding: 5px;
    background-color: white;
    width: 100%;
}


/*Buttons*/

.btn-question {
    position: absolute;
    left: 15px;
    top: 15px;
}

.btn {}

.translator-popup-btn {
    float: left;
    width: 50%;
}


/*popups*/

.translator-popup,
.question-popup {
    display: none;
    background-color: green;
    padding: 15px;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.translator-popup.active,
.question-popup.active {
    display: block;
    text-align: center;
    opacity: 1;
}

.question-popup button {
    width: 100%;
}

.translator-popup>p {
    color: white;
}

.translator-popup>button {}

.btn {
    margin-top: 5px;
}


/*Buttons End*/

section {
    display: none;
}

section.is-active {
    display: flex;
}

.session-list {
    list-style: none;
    text-align: center;
}

.session .button-wrapper {
    display: flex;
    flex-direction: column;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    width: 33.3333333%;
    float: left;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.nav__item.is-active {
    border-bottom: 2px solid black;
}

.nav__item:hover {
    border-bottom: 2px solid black;
}


/* flipcards*/

.flip-container {
    perspective: 1000px;
}

.flip-container.papa-flip .flipper {
    transform: rotateX(-180deg);
}

.flip-container.papa-unflip .flipper {
    transform: rotateX(0deg);
}

.flip-container,
.front,
.question-awnser-right,
.question-awnser-wrong {
    width: 220px;
    height: 220px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: 100% 110px
}

.front,
.question-awnser-right,
.question-awnser-wrong {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    transition: 0.6s;
}

.question-awnser-right {
    color:white;
    font-size: 26px;
    display: none;
    background-color: green;
    transform: rotateX(180deg);
}

.question-awnser-wrong {
    color:white;
    font-size: 26px;
    display: none;
    background-color: red;
    transform: rotateX(180deg);
}

.question-awnser-wrong.awnser-flip,
.question-awnser-right.awnser-flip {
    display: flex;
}

/*flipcards end */

