* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    margin: 5px auto;
}

button {
    background-color: white;
    border: 1px solid black;
}

.container {
    width: 250px;
    height: auto;
    background-color: white;
    padding: 30px 15px 15px 15px;
}

.question {
    background-color: white;
    width: 0;
    height: 100%;
    position: fixed;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.5s;
    transition: opacity 0.25s;
}

.question-header {
    border-bottom: 1px solid black;
    height: 15%;
}

.question-headline {
    position: absolute;
    top: 0;
    left: 40%;
}

.question-counter {
    text-align: center;
}

.question-body {
    height: 70%;
}

.question-body>p {
    text-align: center;
    margin-bottom: 10px;
    width:100%;
    min-height: 20px;
}
#questionInput{
    width:100%;
}
#questionInputBtn{
    padding:5px;
    margin: 15px 0;
    width:100%; 
}

.question-footer {
    border-top: 1px solid black;
    height: 15%;
}

.question-header,
.question-body,
.question-footer {
    width: 100%;
    padding: 15px;
}

.is-active {
    width: 265px;
    opacity: 1;
}


/*Components*/

.intro {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}

.spacer {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.input-wrapper,
.output-wrapper {
    margin-bottom: 15px;
}

#search-input {}

#search-input-select,
#search-output-select,
#search-button {
    width: 100%;
    margin: 10px 0;
    min-height: 35px;
}


/*.output-wrapper{

}*/

#search-button {
    margin-bottom: 0;
}

#search-output-select {}

#search-input,
#search-output,
#search-button {
    min-height: 35px;
    padding: 5px;
    background-color: white;
    width: 100%;
}


/*Buttons*/

.btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.btn-question {
    position: absolute;
    left: 15px;
    top: 15px;
}

.btn {}

.translator-popup-btn {
    float: left;
    width: 50%;
}


/*popups*/

.translator-popup {
    display: none;
    background-color: green;
    padding: 15px;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.translator-popup.active {
    display: block;
    text-align: center;
    opacity: 1;
}

.translator-popup>p {
    color: white;
}

.translator-popup>button {}