@{
    ViewBag.Title = "Index";
}

<section class="login__container">

    <div class="container">
        <span>Username: <br /><input type="text" id="userNameValue" name="userName" placeholder="Bitte User namen eingeben..." /> </span> <br />
        <span>Password: <br /><input type="password" id="passwordValue" name="password" placeholder="Bitte Password eingeben..." /> </span><br />
        <span class="btn__wrapper"><button id="login" class="btn">Anmelden</button></span><span class="btn__wrapper"><button id="register" class="btn">Register</button></span>
        <span>@Model</span>
    </div>
</section>


<section class="kartei-model__container">
    <form id="karteiForm" method="post">
        <input type="text" id="input" name="input" value="Hallo" />
        <input type="text" id="inputLang" name="inputLang" value="de" />
        <input type="text" id="output" name="output" value="Hello" />
        <input type="text" id="outputLang" name="outputLang" value="en" />
        <input type="submit" value="Abschigge!" />
    </form>

    <button id="sessionTest">SessionTest</button>
</section>
