@{
    ViewBag.Title = "Index";
}

<section class="login__container">

    <div class="container">
        <span>Username: <br /><input type="text" id="userNameValue" name="userName" placeholder="Bitte User namen eingeben..." /> </span> <br />
        <span>Password: <br /><input type="password" id="passwordValue" name="password" placeholder="Bitte Password eingeben..." /> </span><br />
        <span class="btn__wrapper"><button id="login" class="btn">Anmelden</button></span><span class="btn__wrapper"><button id="register" class="btn">Register</button></span>
        <span class="message"></span>
        @Model
    </div>
</section>
