.login__container {
    clear: both;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 50%;
    margin: 0;
}

.section-wrapper {
    width: 50%;
    margin: 0 auto;
}

.section-container {
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
}

.session-item {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.session-item:last-child {
    border: none;
}

.session-item>span:odd {
    float:left;
}